root = true
Bitcoin address'19dENFt4wVwos6xtgwStA6n8bbA57WCS58',
Private Key:L2fVX61DFLx2gMv1JVjgzpL9Vab2Tq4gygyWpXyfWffDTPHFSKWJ',
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
